//THIS FILE IS USED FOR UTILITY CLASSES-UTILITY CLASSES ARE SMALL CLASSES WHICH USED FOR ONE GOAL LIKE CENTERING INLINE_BLOCK ELEMENTS.

.u-center-text { text-align: center; }

/* Instead of using numbers like .u-margin-bottom-8 we are using names. The reason is explained in index.html . */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-small { margin-bottom: 1.5rem; }

.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-huge { margin-top: 10rem; }



